
<%@user.entries.each do |entry|%>
<div class="charge">
<%=entry.raffle.product.name%>
$<%=entry.raffle.product.price/100%>.<%=entry.raffle.product.price%100%>
<%=entry.raffle.created_at%>
</div>
<%end%>
