// Place all the styles related to the raffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon/bourbon";
@import "neat/neat";
section.container{
	@include outer-container;
}
.raffle{
 @include span-columns(3);
 @include omega(4n);
 background-color: aliceblue;
 height:100px;
}
.raffle-pic{
	height:50px;
	width:100px;
}