* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.container:after {
    content: "";
    display: table;
    clear: both; }

.raffle {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: aliceblue;
  height: 100px; }
  .raffle:last-child {
    margin-right: 0; }
  .raffle:nth-child(4n) {
    margin-right: 0; }
  .raffle:nth-child(4n+1) {
    clear: left; }

.raffle-pic {
  height: 50px;
  width: 100px; }
