<!DOCTYPE html>
<html>
<head>
  <title>Raffles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if session[:user_id]%>
<a href="sign_out" class="sign_out">sign out</a>
<%else%>
<a href="sign_in" class="sign_in">sign in</a>
<%end%>
<%= yield %>

</body>
</html>
